.header{
    background-color: rgb(0, 0, 0);
    height: 150px;
    width: 1520px;
    padding-top: 60px;
    padding-right: 100px;
}


.background{
    background: rgb(211, 48, 48);
    height: 550px;
    width: 1520px;
}

.heading{
    font-family:sans-serif;
    color: rgb(240, 238, 236);
    font-size: 55px;
    padding-top: 10px;
    font-weight: bolder;
}

.head0{
    padding-left: 32%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 5px
}

/*CAROUSEL*/

.CHARMINAR{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head1{
    padding-left: 250px;
    padding-top: 0px;
}

.GOLCONDA_FORT{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}
.head2{
    padding-left: 250px;
    padding-top: 0px;
}

.Ramoji_Film_City{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head3{
    padding-left: 250px;
    padding-top: 0px;
}

.Hussain_Sagar_Lake{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head4{
    padding-left: 250px;
    padding-top: 0px;
}

.Birla_Mandir{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head5{
    padding-left: 250px;
    padding-top: 0px;
}

.ChowmahallaPalace{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head6{
    padding-left: 250px;
    padding-top: 0px;
}

.QutubShahiTombs{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head7{
    padding-left: 250px;
    padding-top: 0px;
}

.BirlaPlanetarium{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head8{
    padding-left: 250px;
    padding-top: 0px;
}

.SalarJungMuseum{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head9{
    padding-left: 250px;
    padding-top: 0px;
}

.SnowWorld{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head10{
    padding-left: 250px;
    padding-top: 0px;
}

.ChilkurBalajiTemple{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head11{
    padding-left: 250px;
    padding-top: 0px;
}

.TajFalaknumaPalace{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head12{
    padding-left: 250px;
    padding-top: 0px;
}

.GandipetLake{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head13{
    padding-left: 250px;
    padding-top: 0px;
}

.PuraniHaveli{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}

.head14{
    padding-left: 250px;
    padding-top: 0px;
}

.NTRGardens{
    padding-left: 250px;
    padding-top: 15px;
    color: whitesmoke;
    font-family: monospace;
}


.head15{
    padding-left: 250px;
    padding-top: 0px;
}


.background2{
    background: black;
    height: 200px;
    width: 300;
}
.LOGOI{
    padding-left: 90px;
    padding-top: 80px;

}

